#sidebar {
	width: 108;
	height: 800px;
	position: absolute;
	top: 8px;
	left: 1008px;
	background: #00001A;
}

#sidebar img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 9px;
	width: 90px;
	height: 90px;
}